#logo_container
{
	position: relative;
	height: min(30vw, 30vh);
	background: linear-gradient(180deg, var(--bg_clr3) 50%, #00000000 120%);
}
#logo_img, #logo_star, #logo_mask { position: absolute; width: min(50vw, 50vh); top: min(8vw, 8vh); }
@keyframes logo_anim_1s	{ 0% { filter: opacity(50%); } 50% { filter: opacity(10%); } 100% { filter: opacity(50%); } }
@keyframes logo_anim_2s { 0% { filter: opacity(10%); } 50% { filter: opacity(50%); } 100% { filter: opacity(10%); } }
@keyframes logo_anim_1w	{ 0% { filter: opacity(20%); } 50% { filter: opacity(10%); } 100% { filter: opacity(20%); } }
@keyframes logo_anim_2w { 0% { filter: opacity(10%); } 50% { filter: opacity(20%); } 100% { filter: opacity(10%); } }

#quote_center
{
	position: relative;
	width: 84vw;
	top: max(-1vw, -1vh);
}
#infinite_scroll
{
	--SIZE: 29.8;
	position: relative;
	white-space: nowrap;
	overflow: hidden;
	border-radius: min(30vw, 30vh);
	width: calc(var(--SIZE) * min(1vw, 1vh));
	height: min(6vw, 6vh);
	background: linear-gradient(180deg, #00000000 0%, var(--bg_clr2) 8%, var(--bg_clr2) 92%, #00000000 100%);
}
#infinite_scroll_text
{
	--ist_SIZE: -30;
	position: relative;
	top: min(.1412vw, .1412vh);
	animation: infinite_scroll_text 1s linear infinite;
}
@keyframes infinite_scroll_text
{
	000% { transform: translateX(0); }
	100% { transform: translateX(calc(var(--ist_SIZE) * min(1vw, 1vh))); }
}
.grid_VB { position: relative; --wid: 84; left: calc(((100 - var(--wid)) / 2.0) * 1%); width: calc(var(--wid) * 1%); }
.grid_VB_SEPR { position: relative; left: 0%; --hei: 2; width: 100%; height: calc(var(--hei) * min(1vw, 1vh)); }

.grid_VB_NAME { position: relative; left: 0%; --hei: 10; width: 100%; height: calc(var(--hei) * min(1vw, 1vh)); }

.grid_VB_DESC { position: relative; left: 0%; width: 100%; }

.grid_VB_DATA { --hei: 15; border-color: red; }
.grid_VB_LANG { position: absolute; left: calc(000% / 3); width: calc(100% / 3); height: calc(var(--hei) * min(1vw, 1vh)); }
.grid_VB_RECM { position: absolute; left: calc(100% / 3); width: calc(100% / 3); height: calc(var(--hei) * min(1vw, 1vh)); }
.grid_VB_SOFT { position: absolute; left: calc(200% / 3); width: calc(100% / 3); height: calc(var(--hei) * min(1vw, 1vh)); }

.grid_VB_EMBD { position: relative; left: 0%; --hei: 38; width: 100%; height: calc(var(--hei) * min(1vw, 1vh)); }

.grid_VB_DOWN { position: relative; left: 0%; --hei: 10; width: 100%; height: calc(var(--hei) * min(1vw, 1vh)); }

#copyright
{
	position: absolute;
	top: min(103vw, 103vh);
	filter: opacity(10%);
	right: max(-4vw, -4vh);
	transform: rotate(-90deg) scale(12);
}